/* ============ only min width | Omonjon ============ */
@media (min-width: 768px) {
  .modal .modal-body .border-bottom-dashed {
    border-bottom: none !important;
  }
}

@media (min-width: 1400px) {
  .header .container-self {
    max-width: 1440px !important;
  }
}

/* ============ only max width | Omonjon ============ */
@media (max-width: 1399px) {
  .header .swiper-button-prev {
    left: 92.7% !important;
  }
}

@media (max-width: 1199px) {
  .rounded-circle-mb {
    border-radius: 50% !important;
    padding: 10px !important;
  }

  .header .swiper-button-prev {
    left: 91% !important;
  }

  .how_work .arrow_line {
    width: 150px;
    right: -75px;
  }
}

@media (max-width: 991px) {
  .header .swiper-button-prev {
    left: 88% !important;
  }

  .header .header-img {
    width: 283px;
  }

  .header .slider__text {
    flex: 60%;
  }

  .header .slider__image {
    flex: 40%;
  }

  .car-num {
    width: 160px;
  }

  .tech-pas-num {
    width: 145px;
  }

  .ins-type {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .modal .modal-body .border-end-dashed {
    border-right: none;
  }

  .scroll_up {
    right: 1rem;
  }

  .header .swiper-button-prev {
    left: 84% !important;
  }

  .offcanvas.offcanvas-top {
    height: 250px;
  }

  .w-100Mb {
    width: 100%;
  }

  .car-num {
    width: 40%;
  }

  .tech-pas {
    width: 16%;
  }

  .tech-pas-num {
    width: 40%;
  }

  .ins-type {
    width: 67%;
  }

  .calc-btn {
    width: 30%;
  }

  .calc-btn button {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .offcanvas.offcanvas-top {
    height: 350px;
  }

  .btn-footer {
    border-radius: 50% !important;
    padding: 14px !important;
  }

  .car-num {
    width: 100%;
  }

  .car-card__title{
    line-height: 1;
  }
  
  .process-arc__box{
    top: initial !important;
    bottom: -10px !important;
    right: 0px !important;
  }

  .progress-arc {
    width: 100px;
    height: 100px;
  }

  .tech-pas {
    width: 30%;
  }

  .calc-company-logo {
    width: 200px;
  }

  .tech-pas-num {
    width: 65%;
  }

  .ins-type {
    width: 60%;
  }

  .calc-btn {
    width: 35%;
  }

  .calc-btn button {
    width: 100%;
  }

  .payment_method__item {
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .progress-arc {
    width: 80px;
    height: 80px;
  }

  .process-arc svg {
    width: 80px;
    height: 80px;
  }
  
  .process-arc__text {
    top: 14px;
    left: 17px;
  }

  .process-arc__text h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .process-arc__text h5 {
    font-size: 10px;
    line-height: 14px;
  }
}


@media (max-width: 390px) {
  .nav__lng.dropdown {
    display: none;
  }

  #navbar .nav__lng.dropdown {
    display: block !important;
  }

  .download_app__text .apps__item{
    padding-left: 12px;
    padding-right: 12px;
  }
}
